{% extends "base.html" %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
            </div>
        </div>
    </header>
    </br>
    <div class="container">
        {% if cart_products %}
        {% for product in cart_products %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <center>  
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.description}}</p>
        
                                {% if product.is_sale %}
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <strike>${{ product.price }}</strike>
                                    &nbsp;${{ product.sale_price }}
                                {% else %}
                                    {{product.price}}
                                    </br>ID: {{product.id}}
                                {% endif %}
        
                                </br></br>
                                <div class="row justify-content-center mt-3">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Quantity:
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-select form-select-sm" id="select{{product.id}}">
                                                    {% for key, value in quantities.items %}
                                                        {% if key == product.id|slugify %}
                                                            <!-- Use actual quantity values -->
                                                            <option value="{{ value }}" {% if value == product.quantity %}selected{% endif %}>{{ value }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </br></br>
                                <a href="{% url 'home' %}" class= "btn btn-secondary">Home</a>
                                <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        {% endfor %}
        {% else %}
        <center>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <h5>There is nothing in your cart, start shopping now!...</h5>
        </center>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
    </div>


    <script>
        // Update the AJAX request to send the correct data
        $(document).on('click', '.update-cart', function(e){
            e.preventDefault(); // Prevent the default form submission
            // grab the product id
            var productid = $(this).data('index');
            
            $.ajax({
                type: 'POST',
                url: '{% url 'cart_update' %}',
                data: {
                    product_id: productid, // Send the correct product ID
                    product_qty: $('#select' + productid + ' option:selected').val(), // Send the selected quantity
                    csrfmiddlewaretoken: '{{ csrf_token }}', // Add CSRF token for security
                    action: 'post' // Use lowercase 'post' for consistency
                },
                success: function(json){
                    location.reload()
                },
                error: function(xhr, errmsg, err){
                    // Log error message to console
                    console.error('Error updating product quantity!', errmsg);
                    // You can display an error message to the user here if needed
                }
            });
        })
    </script>

{% endblock content %}
