{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our Store</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
            </br></br>
               <p align="justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem ex, semper ac mattis eu, sodales at mauris. Sed bibendum nisi at rhoncus blandit. Curabitur euismod libero ut quam gravida egestas. Donec et tortor consectetur, tincidunt lorem eget, porttitor velit. Duis eros mi, porta quis sagittis in, suscipit quis nisi. Proin a ex justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur efficitur ultricies tellus vitae lobortis. Fusce vel mauris sed ante imperdiet vestibulum. Etiam aliquet blandit eleifend. In odio metus, mattis eget elit nec, dignissim lobortis odio. Suspendisse potenti.
               </br></br>
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis vel maximus arcu, ut cursus justo. Integer non orci eu sapien pulvinar egestas. Duis ut enim metus. Etiam et eleifend augue, ac placerat purus. Cras condimentum maximus volutpat. Phasellus id odio erat. Nullam massa nisi, mattis sit amet fringilla ac, dapibus cursus lorem. Nam pretium dolor sed eleifend venenatis.
</br></br>
Aenean interdum nunc quis suscipit commodo. Sed in dignissim sapien. Donec ligula velit, iaculis ut eros vel, feugiat mollis libero. Praesent felis velit, suscipit sed bibendum ac, fermentum et urna. Fusce ac bibendum tellus. Fusce consequat sagittis ipsum sit amet hendrerit. Etiam finibus tristique orci sed euismod.</p>
</br></br>
            </div>
        </center>
    </div>
</div>



{% endblock content %}