{% extends 'base.html' %}
{% block content %}


<div class="container">
</br></br>



    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
            
              <center>  
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>

              {% if product.is_sale %}
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
              </div>
              <strike>${{ product.price }}</strike>
              &nbsp;${{ product.sale_price }}


              {% else %}
            
              {{product.price}}
              </br>ID: {{product.id}}

              {% endif %}





                </br></br>
              <a href="{% url 'home' %}" class= "btn btn-secondary">Home</a>
              <button type="button" value= "{{product.id}}" class="btn btn-secondary" id="add-cart" >Add To Cart</button>
            

              </center>
            </div>
          </div>
        </div>
    </div>
</div>



<script>
  // Handle click event on 'Add to Cart' button
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault(); // Prevent the default form submission
    $.ajax({
      type: 'POST',
      url: '{% url 'cart_add' %}',
      data: {
        product_id: $('#add-cart').val(), // Send the correct product ID
        csrfmiddlewaretoken: '{{ csrf_token }}', // Add CSRF token for security
        action: 'post' // Use lowercase 'post' for consistency
      },
      success: function(json){
        // Log success message to console
        console.log('Product added to cart successfully:', json);
        // You can handle success response here if needed
      },
      error: function(xhr, errmsg, err){
        // Log error message to console
        console.error('Error adding product to cart:', errmsg);
        // You can display an error message to the user here if needed
      }
    });
})
</script>

  




{% endblock content %}